asgiref==3.8.1
certifi==2025.6.15
distlib==0.3.9
Django==4.1.1
django-cors-headers==3.13.0
djangorestframework==3.14.0
filelock==3.18.0
platformdirs==4.3.8
pytz==2025.2
sqlparse==0.5.3
virtualenv==20.31.2
